#map {
    height: 300px;
    margin: 20px 0;
    border-radius: 5px;
    border: 1px solid silver;
}
.icon_equal_size{
    width: 40px;
    height: 40px;
}

.center_dates{
    margin:0 auto;
    padding:0 auto;
}
.avatar{
    width: 250px;
    height: 250px;
}
