#map {
    height: 300px;
    margin: 20px 0;
    border-radius: 5px;
    border: 1px solid silver;
}
.icon_equal_size{
    width: 40px;
    height: 40px;
}

.center_dates{
    margin:0 auto;
    padding:0 auto;
}

.avatar{
    width: 200px;
    height: 250px;
}
.left{
    border-right: 1px solid #DEDEDE;
    border-bottom: 1px solid #DEDEDE;
}
.bottom{
    border-bottom: 1px solid #DEDEDE;
}
.img{
    width:99%;
    height:99px;
}
.img:hover{
    width: 100%;
    height:100px;
    cursor: pointer;
}
.marg{
    margin:1%;
}
.img_list{
    width:250px;
    height:250px;
}
.img_preview{
    margin-bottom:4%;
}