<!--{{meeting}}-->
<div class="container ">
    <div class="row">
        <div class="col-sm-8 col-md-8 alert alert-warning ">
            <p><strong>Please note:</strong> We cannot process emergency requests through this form. If you are experiencing a medical emergency, please call <strong>103</strong>.</p>
            <p>To schedule an appointment by phone, please call the appropriate Toll-free number:<a href="#/contact"> contact</a></p>
            <p>For persons with hearing and speech defects we receive requests:</p>
            <div>
                <div class="col-sm-6 col-md-6">
                    <ul>
                        <li>SMS for subscribers of «Kyivstar» number 10-003;
                        <li>SMS for other mobile service providers — number 096-5613977</li>
                        <em>(24/7)</em></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-6">
                    <ul>
                        <li>Faxes number 234-5356.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-md-4 alert alert-info">
            <h4 class="text-center">Opening Hours:</h4>
            <h6>
                <div class="col-sm-6 col-md-6 col-xs-6">
                    <p><span>Monday</span></p>
                    <p><span>Tuesday</span></p>
                    <p><span>Wednesday</span></p>
                    <p><span>Thursday</span></p>
                    <p><span>Friday</span></p>
                    <p><span>Saturday</span></p>
                    <p><span>Sunday</span></p>
                </div>
                <div class="col-sm-6 col-md-6 col-xs-6">
                    <p><span>8:30 – 18:30</span></p>
                    <p><span>8:30 – 18:30</span></p>
                    <p><span>8:30 – 18:30</span></p>
                    <p><span>8:30 – 18:30</span></p>
                    <p><span>8:30 – 18:30</span></p>
                    <p><span>CLOSED</span></p>
                    <p><span>CLOSED</span></p>
                </div>
            </h6>
        </div>
    </div>

</div>
<div class="container">
    <div class="row well">
        <h3>Appointment:</h3>
        <form role="form" name="request" method="post" ng-submit="createMeeting(meeting)">
            <div class="form-group">
                <label for="specialist">Specialist</label>
                <select class="form-control" name="specialist" id="specialist" ng-model="specialist" ng-change="onSpecialistSet()">
                    <option ng-repeat="profy in profecionals">{{profy.specialist}}</option>
                </select>

                <label for="doctor">Doctor</label>
                <select class="form-control" name="doctor" id="doctor" ng-model="meeting.doctor_id" ng-blur="onDoctorSet()" required>
                    <option ng-repeat="doc in doctors" value="{{doc.id}}">{{doc.last_name}} {{doc.first_name}}</option>
                </select>

                <label for="dropdownDate">Time</label>
                <div class="dropdown form-group dropdown-parent">
                    <a class="dropdown-toggle" id="dropdownDate" role="button" data-toggle="dropdown" data-target=".dropdown-parent">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </span>
                            <input type="datetime" class="form-control" data-ng-model="meeting.date_time_meeting">
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="meeting.date_time_meeting"
                                        data-datetimepicker-config="{ dropdownSelector: '#dropdownDate',
                                                                      renderOn: 'date-changed',
                                                                      minView: 'hour',
                                                                      modelType: 'YYYY-MM-DD HH-mm-ss'}"
                                        data-on-set-time="dateOnSetTime()"
                                        data-before-render="dateBeforeRender($dates)">
                        </datetimepicker>
                    </ul>
                </div>

                <label for="reason">Short reason review</label>
                <div>
                    <input name="reason" ng-model="meeting.reason" type="textarea" class="form-control" id="reason" required>
                    <span ng-show="request.reason.$dirty && request.reason.$invalid" class="help-inline">Reason required</span>
                </div>
            </div>

            <a href="#/home" class="btn btn-default">Cancel</a>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>
