
<div class="container">
    <div>
        <h1>Prescription:</h1>
        <form ng-submit="" role="form" name="imageForm" method="post">
            <div class="container">
                <div class="row">
                    <div class="box col-md-4">
                        <div class="box-inner">
                            <div class="box-header well" data-original-title="">
                                <h2>Upload Picture Here!</h2>
                            </div>
                            <div class="box-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Select Your Picture:</label>
                                    </div>
                                </div>
                                <div class="row" style="margin:1%;">
                                    <div class="col-md-12">
                                        <p>
                                            <label for="upload" class="btn btn-success">
                                                <i class="glyphicon glyphicon-circle-arrow-up"></i>
                                                Select A Picture
                                            </label>
                                            <input id="upload" style="display:none;" type='file' file-input="files"  class="input-xlarge" onchange="angular.element(this).scope().imageUpload(event)" />
                                        </p>
                                    </div>
                                </div>
                                <div class="row" style="margin:1%;">
                                    <div class="col-md-4">
                                        <button class="btn btn-info" ng-click="upload()">
                                            <i class="glyphicon glyphicon-send"></i>
                                            Upload
                                        </button>
                                    </div>
                                    <div class="col-md-6" ng-show="isProcessing">
                                        <img class="img-thumbnail"  src="images/ajax-loaders/ajax-loader-5.gif" />
                                    </div>
                                </div>
                                <div class="row" style="margin:1%; color:red; position: fixed; z-index:10000;" ng-show="showMsg">
                                    <div class="col-md-12">
                                        <div class="alert alert-success">
                                            {{msg}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-inner">
                            <div class="box-header well" data-original-title="">
                                <h2>Picture About To Upload!</h2>
                            </div>
                            <div class="box-content">
                                <div class="row" style="margin:1%; ">
                                    <div class="col-md-5 left">
                                        <h6>Name: {{file.name }}</h6>
                                    </div>
                                    <div class="col-md-4 left">
                                        <h6>Size: {{file.size/1024|number:2 }} KB</h6>
                                    </div>
                                    <div class="col-md-3 bottom">
                                        <h6>Type: {{file.type.slice(file.type.lastIndexOf('/') + 1)}} </h6>
                                    </div>
                                </div>

                                <div class="row" style="margin:1%;">
                                    <div class="col-md-12">
                                        <p>
                                            <img class="img-thumbnail" style="width:250px; height=250px; "  ng-src="{{step}}" />
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="box col-md-8">
                        <div class="box-inner" style="margin-bottom:4%;">
                            <div class="box-header well" data-original-title="">
                                <h2>Uploaded Pictures Here!</h2>
                            </div>
                            <div class="box-content" style="max-height: 500px; overflow:auto;">
                                <div class="row" style="margin:1%;">

                                    <div class="col-md-3" ng-repeat="pic in pics">
                                        <p>
                                            <img class="img-thumbnail img" ng-src="../backend/images/{{pic.name}}" />
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="#/home" class="btn btn-default">Cancel</a>
        </form>
    </div>
</div>

